.App {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.appDark {
  background-color: #000;
}

.svg {
  position: relative;
  top: -30vh;
  height: 50vh;
}

@media screen and (max-width: 992px) {
  .svg {
    display: none;
  }
}
